.container {
  margin-top: 100px;
  width: 38%;
  border: 1px solid black;
  border-radius: 15px;
  background: #214252;
  color: #fff3e2;
  padding: 25px;
}

@media screen and (max-width: 420px) {
  .container {
    width: 100%;
    height: 100%;
    margin-top: 0;
    background-color: #214252;
  }
}

p {
  color: #ff9a76;
}

.search-bar .col {
  padding: 0;
  display: block;
}

.search-bar .row {
  padding-left: 10px;
}

.btn {
  background-color: #ff9a76;
  border-radius: 0 4px 4px 0;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  padding: 10px 14px;
}

.btn:hover {
  opacity: 1;
  background-color: #ff9a76;
}
.col-6 {
  padding: 0;
}
.btn i {
  color: #214252;
}

.current-search-btn {
  background-color: #ff9a76;
  border-radius: 4px 4px 4px 4px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  padding: 10px 14px;
}

.current-search-btn:hover {
  opacity: 1;
  background-color: #ff9a76;
}

.form-control-search {
  border-radius: 4px 0 0 4px;
  border: none;
  width: 100%;
  padding: 10px;
}

#main-content {
  line-height: 20px;
  padding-top: 30px;
}

#current-city {
  font-size: 40px;
}

#current-date {
  font-weight: lighter;
  font-size: 18px;
  margin-bottom: 0;
}

#description {
  color: #ff9a76;
  font-size: 24px;
  margin-bottom: 0;
  text-transform: capitalize;
  font-weight: lighter;
}

.update-time {
  font-weight: lighter;
  font-size: 14px;
  margin-bottom: 0;
  color: #fff3e2;
}

#temperature {
  text-align: center;
}

#temperature h1 {
  font-size: 60px;
  text-align: center;
}

.degree-number {
  font-size: 50px;
}

.degrees {
  font-size: 15px;
  position: relative;
  bottom: 25px;
  right: 13px;
}

.degrees a {
  text-decoration: none;
  color: #fff3e2;
  font-weight: lighter;
}
.degrees a:hover {
  color: white;
}

#icon {
  max-width: 60px;
}

.attritubutes {
  font-weight: 300;
}

#forecast {
  padding: 0px 10px 0 10px;
  column-gap: 20px;
  font-size: 15px;
}

#forecast .col-2 {
  border: 1px solid white;
  padding: 5px;
  border-radius: 4px;
  text-align: center;
}

#forecast-icon {
  width: 30px;
}

#forecast span {
  opacity: 0.8;
  color: #fff3e2;
}

#forecast h4 {
  padding: 0;
  font-size: 15px;
  font-weight: lighter;
}

#forecast p {
  font-weight: bolder;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

small {
  display: block;
  text-align: center;
  font-size: 12px;
}

small a {
  text-decoration: none;
  color: #214252;
}
